footer{
    background-color: rgba(0, 0, 0, 0.791);
    width: 100%;
   padding: 100px 0;
    ul{
        li{
            list-style: none;
        }
    }
    .all{
        padding: 20px 0;
        input{
            width: 200px;
            
            height: 35px;
            border-radius: 5px;
        }
    }
  
}